USE [HOSPITAL]
GO
/****** Object:  Table [dbo].[AGENDAMENTO_EXAME]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENDAMENTO_EXAME](
	[cd_exame] [int] NOT NULL,
	[dt_exame] [datetime] NOT NULL,
	[cd_paciente] [int] NOT NULL,
	[cd_crm_medico] [int] NOT NULL,
	[cd_especialidade] [int] NOT NULL,
	[cd_sala] [int] NOT NULL,
 CONSTRAINT [PK_AGENDAMENTO_EXAME] PRIMARY KEY CLUSTERED 
(
	[cd_exame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOADOR]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOADOR](
	[cd_doador] [int] NOT NULL,
	[nm_doador] [varchar](50) NOT NULL,
	[cd_cpf_doador] [varchar](50) NOT NULL,
	[peso_doador] [int] NOT NULL,
	[dt_nascimento_doador] [date] NOT NULL,
	[dt_doacao_sangue] [datetime] NOT NULL,
	[cd_tipo_sangue] [int] NOT NULL,
 CONSTRAINT [PK_DOADOR] PRIMARY KEY CLUSTERED 
(
	[cd_doador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESPECIALIDADE]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESPECIALIDADE](
	[cd_especialidade] [int] NOT NULL,
	[nm_especialidade] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ESPECIALIDADE] PRIMARY KEY CLUSTERED 
(
	[cd_especialidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXAME]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAME](
	[cd_exame] [int] NOT NULL,
	[nm_exame] [varchar](100) NOT NULL,
	[ds_exame] [varchar](400) NOT NULL,
	[cd_especialidade] [int] NULL,
 CONSTRAINT [PK_EXAMEE] PRIMARY KEY CLUSTERED 
(
	[cd_exame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[cd_funcionario] [int] NOT NULL,
	[cd_cpf_funcionario] [int] NOT NULL,
	[nm_funcionario] [varchar](50) NOT NULL,
	[dt_admissao_funcionario] [date] NOT NULL,
	[cd_setor_funcionario] [int] NOT NULL,
 CONSTRAINT [PK_FUNCIONARIO] PRIMARY KEY CLUSTERED 
(
	[cd_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICO]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICO](
	[cd_crm_medico] [int] NOT NULL,
	[nm_medico] [varchar](50) NOT NULL,
	[cd_especialidade] [int] NOT NULL,
 CONSTRAINT [PK_MEDICO] PRIMARY KEY CLUSTERED 
(
	[cd_crm_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTE]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTE](
	[cd_paciente] [int] NOT NULL,
	[nm_paciente] [varchar](50) NOT NULL,
	[data_nascimento_paciente] [date] NOT NULL,
	[data_cadastro_paciente] [date] NOT NULL,
	[cd_cpf_paciente] [varchar](11) NOT NULL,
	[cd_tipo_sangue] [int] NULL,
	[peso_paciente] [int] NULL,
	[altura_paciente] [int] NULL,
	[dt_transfusao_sangue] [datetime] NULL,
 CONSTRAINT [PK_PACIENTE] PRIMARY KEY CLUSTERED 
(
	[cd_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALA]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALA](
	[cd_sala] [int] NOT NULL,
	[nm_sala] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SALA] PRIMARY KEY CLUSTERED 
(
	[cd_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANGUE]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANGUE](
	[cd_tipo_sangue] [int] NOT NULL,
	[nm_tipo_sangue] [varchar](3) NULL,
 CONSTRAINT [PK_SANGUE] PRIMARY KEY CLUSTERED 
(
	[cd_tipo_sangue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SETOR]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETOR](
	[cd_setor] [int] NOT NULL,
	[nm_setor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SETOR] PRIMARY KEY CLUSTERED 
(
	[cd_setor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 19/09/2024 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[cd_usuario] [int] NOT NULL,
	[nm_usuario] [varchar](50) NOT NULL,
	[senha_usuario] [varchar](50) NOT NULL,
	[cd_setor] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[cd_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME]  WITH CHECK ADD  CONSTRAINT [FK_AGENDAMENTO_EXAME_AGENDAMENTO_EXAME] FOREIGN KEY([cd_exame])
REFERENCES [dbo].[AGENDAMENTO_EXAME] ([cd_exame])
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME] CHECK CONSTRAINT [FK_AGENDAMENTO_EXAME_AGENDAMENTO_EXAME]
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME]  WITH CHECK ADD  CONSTRAINT [FK_Especilalidade_AgendExame] FOREIGN KEY([cd_especialidade])
REFERENCES [dbo].[ESPECIALIDADE] ([cd_especialidade])
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME] CHECK CONSTRAINT [FK_Especilalidade_AgendExame]
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME]  WITH CHECK ADD  CONSTRAINT [FK_EXAME_AGENDEXAME] FOREIGN KEY([cd_exame])
REFERENCES [dbo].[EXAME] ([cd_exame])
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME] CHECK CONSTRAINT [FK_EXAME_AGENDEXAME]
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME]  WITH CHECK ADD  CONSTRAINT [FK_Medico_AgendExame] FOREIGN KEY([cd_crm_medico])
REFERENCES [dbo].[MEDICO] ([cd_crm_medico])
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME] CHECK CONSTRAINT [FK_Medico_AgendExame]
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_AgendExame] FOREIGN KEY([cd_paciente])
REFERENCES [dbo].[PACIENTE] ([cd_paciente])
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME] CHECK CONSTRAINT [FK_Paciente_AgendExame]
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME]  WITH CHECK ADD  CONSTRAINT [FK_Sala_AgendExame] FOREIGN KEY([cd_especialidade])
REFERENCES [dbo].[ESPECIALIDADE] ([cd_especialidade])
GO
ALTER TABLE [dbo].[AGENDAMENTO_EXAME] CHECK CONSTRAINT [FK_Sala_AgendExame]
GO
ALTER TABLE [dbo].[DOADOR]  WITH CHECK ADD  CONSTRAINT [FK_SANGUE_DOADOR] FOREIGN KEY([cd_tipo_sangue])
REFERENCES [dbo].[SANGUE] ([cd_tipo_sangue])
GO
ALTER TABLE [dbo].[DOADOR] CHECK CONSTRAINT [FK_SANGUE_DOADOR]
GO
ALTER TABLE [dbo].[EXAME]  WITH CHECK ADD  CONSTRAINT [FK_EXAME_ESPECIALIDADE] FOREIGN KEY([cd_especialidade])
REFERENCES [dbo].[ESPECIALIDADE] ([cd_especialidade])
GO
ALTER TABLE [dbo].[EXAME] CHECK CONSTRAINT [FK_EXAME_ESPECIALIDADE]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_SETOR_FUNCIONARIO] FOREIGN KEY([cd_setor_funcionario])
REFERENCES [dbo].[SETOR] ([cd_setor])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_SETOR_FUNCIONARIO]
GO
ALTER TABLE [dbo].[MEDICO]  WITH CHECK ADD  CONSTRAINT [FK_ESPECIALIDADE] FOREIGN KEY([cd_especialidade])
REFERENCES [dbo].[ESPECIALIDADE] ([cd_especialidade])
GO
ALTER TABLE [dbo].[MEDICO] CHECK CONSTRAINT [FK_ESPECIALIDADE]
GO
ALTER TABLE [dbo].[PACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_SANGUE_PACIENTE] FOREIGN KEY([cd_tipo_sangue])
REFERENCES [dbo].[SANGUE] ([cd_tipo_sangue])
GO
ALTER TABLE [dbo].[PACIENTE] CHECK CONSTRAINT [FK_SANGUE_PACIENTE]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_FUNCIONARIO] FOREIGN KEY([cd_usuario])
REFERENCES [dbo].[FUNCIONARIO] ([cd_funcionario])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_FUNCIONARIO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_SETOR] FOREIGN KEY([cd_usuario])
REFERENCES [dbo].[SETOR] ([cd_setor])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_SETOR]
GO
