@{
    ViewData["Title"] = "Home Page";
}

    <div class="area-bemvindo">   
        <h1 class="display-4">Gerenciador de Contatos</h1>
    <img class="robo-titulo" src="https://dotnet.microsoft.com/blob-assets/images/illustrations/swimlane-subscribe-to-news-tips.svg" />
    </div>
    <h2>Projeto para estudo e desenvolvimento sobre Arquitetura MVC, Entity Framework, SQL Server, e BootStrap</h2>

@*     <a class="btn btn-primary" id="btn-adicionar" role="button" asp-controller="Contato" asp-action="Criar">Adicionar Contato</a>
 *@

